<ng-container *ngIf="step">
  <mat-tab-group>
    <mat-tab label="Properties">
      <app-step-opts [step]="step"></app-step-opts>
    </mat-tab>
    <mat-tab label="Schema">
      <div style="overflow: auto;height: 32vh;">
        <ng-container *ngIf="step?.schema">
            <table>
                <tr>
                    <td colspan="2"><b>{{step.name}}</b></td>
                </tr>
                <tr *ngFor="let field of step.schema.fields">
                    <td style="padding-left: 20px;">{{field.name}}</td>
                    <td>{{field.type}}</td>
                </tr>
            </table>
        </ng-container>
        <!--<div ace-editor [text]="prettySchema" [mode]="'json'" [theme]="'eclipse'" [readOnly]="true" style="height:100%;"></div>-->
    </div>
    </mat-tab>
    <mat-tab label="Links">
      <app-step-links [step]="step"></app-step-links>
    </mat-tab>
    <mat-tab label="Data">
      <ng-container *ngIf="step">
        <app-commands [step]="step?.name" [rows]="7"></app-commands>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>
