<mat-toolbar>
    <button mat-icon-button (click)="undo()" matTooltip="Undo">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button (click)="redo()" matTooltip="Redo">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-icon-button (click)="save()" matTooltip="Save">
      <mat-icon>save</mat-icon>
    </button>
    {{step}}&nbsp;({{file}})
</mat-toolbar> 
<div style="overflow: auto;height: 71vh;">
  <as-split direction="vertical">
    <as-split-area [size]="60">
      <div fxFlex="70"  fxLayoutGap="5px" style="overflow: auto;">
          <div ace-editor 
            #editor [(text)]="content" 
            [mode]="'sql'" 
            [theme]="'eclipse'" 
            style="height:100%;" 
            (textChanged)="onChange($event)"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="300">
          </div>
      </div>
      <div fxFlex="30"  fxLayoutGap="5px" style="overflow: auto;">
        <ng-container *ngIf="schema">
          <table style="padding-left: 20px;">
            <ng-container *ngFor="let sc of schema">
              <tr>
                <td colspan="2"><b>{{sc.name}}</b></td>
              </tr>
              <tr *ngFor="let field of sc.schema.fields">
                <td style="padding-left: 20px;"><a [routerLink]="" (click)="fildNameClick(field.name)">{{field.name}}</a></td>
                <td>{{field.type}}</td>
              </tr>
            </ng-container>      
          </table>
        </ng-container>
      </div>
    </as-split-area>
    <as-split-area [size]="40">
      <app-commands [step]="step"></app-commands>
    </as-split-area>
  </as-split>
</div>