<mat-drawer-container>
  <mat-drawer #drawer mode="over" (openedStart)="openDrawer()">
    <app-projects (onDrawerToggle)="drawer.toggle()"></app-projects>
  </mat-drawer>
  <mat-drawer-content>
    <div class="overlay" *ngIf="showSpinner === true">
      <div fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div [class.blurred]="showSpinner">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" matTooltip="Open project">
          <mat-icon>folder_open</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="createNew()" matTooltip="Create new empty project">
          <mat-icon>create_new_folder</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Copy project" (click)="copy()">
          <mat-icon>folder_copy</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="save()" matTooltip="Save">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="delete()" matTooltip="Delete poject">
          <mat-icon>delete</mat-icon>
        </button>
        <input id="idname" [(ngModel)]="entity.name" readonly>
        <span>&nbsp;</span>
        <span>DataQuote</span>

        <span class="example-spacer"></span>
        <mat-button-toggle-group name="env" aria-label="Env" [value]="entityService.env" (change)="onEnvChange($event)">
          <mat-button-toggle *ngFor="let env of entity.getEnvList()" [value]="env">{{env == "" ? "default" : env}}</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-toolbar>

      <div fxLayout="row" fxLayoutGap="5px" style="overflow: auto;height: 88vh;">
        <as-split direction="horizontal">
          <as-split-area [size]="25">
            <app-step-list></app-step-list>
          </as-split-area>
          <as-split-area [size]="75">
            <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [(selectedIndex)]="selectedTabIndex">
              <mat-tab label="Graph">
                <div style="overflow: auto;height: 80vh;">
                  <div fxLayout="column" style="width: 100%; height: 100%;" fxLayoutGap="5px">
                    <as-split direction="vertical">
                      <as-split-area [size]="60">
                        <app-graph></app-graph>
                      </as-split-area>
                      <as-split-area [size]="40">
                        <app-step-props-group></app-step-props-group>
                      </as-split-area>
                    </as-split>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Options">
                <div style="overflow: auto;height: 80vh;">
                  <app-options [entity]="entity"></app-options>
                </div>
              </mat-tab>
              <mat-tab label="As json (readoly)">
                <div style="overflow: auto;height: 80vh;">
                  <div ace-editor #editor [(text)]="filebody" [mode]="'json'" [theme]="'eclipse'" [readOnly]="true" style="height:100%;"></div>
                </div>
              </mat-tab>
              <ng-template [ngIf]="openFiles.length > 0">
              <mat-tab *ngFor="let file of openFiles" [label]="file.name" class="noprint">
                <ng-template mat-tab-label>
                  <mat-icon (click)="closeFile(file)">close</mat-icon>
                  <mat-icon *ngIf="stepFileIsChanged(file)">circle</mat-icon>
                  {{file.name}}
                </ng-template>
                <app-open-file [file]="file.name" [step]="file.step"></app-open-file>
              </mat-tab>
              </ng-template>
            </mat-tab-group>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
