<button (click)="add()" class="ml">Add</button>
<button (click)="apply()" class="ml">Apply</button>
<hr class="solid">
<div *ngFor="let skill of optionsArray.controls; let index=index">
    <ng-container [formGroup]="skill">
      <div>
        <div>
          <label for="n-{{index}}">Name</label>
          <input id="n-{{index}}" formControlName="name" class="ml"/>
          <label for="v-{{index}}">Value</label>
          <button (click)="addVal(index)" class="ml">Add item</button>
          <button (click)="del(index)" class="ml">Del</button>
        </div>
        <ng-container *ngFor="let optvalue of skill.controls.value.controls; let j=index">
          <ng-container [formGroup]="optvalue">
            <div>
              <label for="e-{{index}}-{{j}}">env&nbsp;&nbsp;</label>
              <input id="e-{{index}}-{{j}}" formControlName="env" class="ml"/>
              <label for="vv-{{index}}-{{j}}">value</label>
              <input id="vv-{{index}}-{{j}}" formControlName="value" class="ml"/>
              <button (click)="delVal(index, j)">Del item</button>
            </div>
          </ng-container>
        </ng-container>
        <hr class="solid">
      </div>
    </ng-container>
  </div>

