<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Sh command to run
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p matLine>
      <input type="text" size="120" [(ngModel)]="runit" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let command of configCommands" [value]="command.template">
          {{command.name + ": " + command.template}}
        </mat-option>
      </mat-autocomplete>
      <button mat-button color="basic" matTooltip="Save this command" (click)="addToConfig()">
        <mat-icon>add</mat-icon>
      </button>      
    </p>
    <mat-action-row>
      <button mat-button color="basic" matTooltip="Run this command" (click)="runIt(runit)">
          Run
          <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>  
  <mat-expansion-panel *ngFor="let command of commands">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{command.shCommand}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p matLine>
      {{command.runid}}
    </p>
    <p matLine>
      <textarea cols="60" rows="6" disabled>{{command.log}}</textarea>        
    </p>
    <mat-action-row>
      <button mat-button color="basic" (click)="refreshlog(command)">
          Refresh
          <mat-icon>autorenew</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
<mat-accordion>
